.header{
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0px 2px 20px rgab(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}


/* search bar */
/* Toggle Sidebar button */
.header .toggle__sidebar__btn{
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
}