.back-to-top{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #4154f1;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 35px;
    color: #fff;
    line-height: 0;
}
.back-to-top .return i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top:hover{
    background: #6776f4;
    color: #fff;
}


.back-to-top.active{
    visibility: visible;
    opacity: 1;
}


@media (max-width: 568px){

    .back-to-top{
        width: 25px;
        height: 25px;
    }
    
    .back-to-top i {
        font-size: 24px;
        color: #fff;
        line-height: 0;
    }
}